<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="../main-menu">
        <ion-icon name="chevron-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Load</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="gs-container gs-spacer-top">
    <ion-button class="gs-btn gs-btn-lg" color="primary"> Load from string</ion-button>

    <ion-button class="gs-btn gs-btn-lg" color="primary">
      <p>
        save 1<br>
        some date
      </p>
    </ion-button>

    <ion-button class="gs-btn gs-btn-lg" color="primary">save 2</ion-button>

    <ion-button class="gs-btn gs-btn-lg" color="primary">save 3</ion-button>

    <ion-button class="gs-btn gs-btn-lg" color="primary">save 4</ion-button>
  </div>

</ion-content>